// styles for table

// Table

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}
th,
td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

@each $color, $color-value in $all-colors {
  .#{$color}-table {
    th,
    td {
      color: inherit;
      border-color: $color-value;
    }
    th {
      background-color: $color-value;
      color: $white;
      text-align: start;
    }
    tbody tr {
      &:hover {
        background-color: rgba($color-value, 0.075);
      }
    }
    tbody tr:nth-of-type(odd) {
      background-color: rgba($color-value, 0.075);
    }
  }
}
