// some utility css classess for making life easy
.text-white {
  color: $white;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-ver {
  display: flex;
  align-items: center;
}

.flex-center-hor {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.sub-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.text {
  font-weight: 400;
}

.text-underlined {
  text-decoration: underline;
}

.text-through {
  text-decoration: line-through;
}
