* {
  font-family: Arial, Helvetica, sans-serif;
}

@import "variables";
@import "functions";
@import "mixins";
@import "color-palates";
@import "buttons";
@import "forms";
@import "redias";
@import "padding";
@import "margin";
@import "typography";
@import "tags";
@import "table";
@import "alert";
@import "flex";
@import "utils";
@import "media";
@import "border";
@import "height-width";
@import "cursor";
